.item-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}

.second-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    border: 1px solid black;
}

.detail-img-container {
    display: flex;
    width: 20%;
    justify-content: center;
    border: 1px solid black;
}

.detail-img {
    width: 100%;
}

.detail-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 2rem;
    border: 1px solid black;
}

.detail-description {
    width: 80%;
}

.price-Add {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.price-detail {
    font-weight: 800;
    font-size: 2rem;
}