.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.greeting {
    font-size: 4rem;
    text-align: center;
}