.header {
    background-color: #d5b59c;
    padding: 0px 12px;
    color: #ffffff;
}

.logo {
    font-size: 3rem;
    font-weight: 900;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link {
    margin: 0 8px;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
}