.header {
    background-color: #d5b59c;
    padding: 0px 12px;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link {
    margin: 0 8px;
    font-size: 2rem;
}